body {
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  line-height: 1.2;
  background-color: #f2f2f2;
}
h1 {
  font-size: 30px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 21px;
}
.introduction p{
  font-weight: normal;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fefefe;
}
.main-navigation {
    position: relative;
}
.main-navigation ul {
  font-size: 0;
  padding:0;/*??*/
  padding-bottom: 18px;
  padding-top: 17px;
  padding-left: 72px;
  padding-right: 72px;
}
.navigation{/* размер 20% от юл, а надо от 1200*/
  display: inline-block;
  width:240px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}
.navigation:first-child{
  float:left;
  text-align: left;
}
.navigation:nth-child(2){
  float:left;
}
.navigation:nth-child(3){
  float: right;
  text-align: right;
}
.navigation:last-child{
  float: right;
  text-align: right;
    padding-right: 5px;
}
.main-header img{
  position:absolute;
  top:0;
  left: 50%;
  margin-left: -72px;
  width: 144px;
  height: 70px;
}
.sedona-image {
  width: 100%;
  height: 432px;
  background:
              url(../img/underline.png) no-repeat 0 100% ,
              url(../img/background.jpg) 0 -55px;
  margin-bottom: 60px;
  padding-top: 76px;
}
.welcome-image{
  display: block;
  width: 188px;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 11px;
}
.gorgeous{
  display:block;
  width: 176px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 53px;
}
.big-image{
  display: block;
  width: 458px;
  height: 78px;
  margin: 0 auto;
  margin-bottom: 55px;
}
.sucks {
  display: block;
  width: 296px;
  height: 80px;
  margin: 0 auto;
}
.introduction {
  margin: 0 auto;
  width: 575px;
  padding-bottom:41px;/*14 пикселей вокруг текста ???*/
  text-align: center;
}
.main-text{
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 33px;
}
.text-advantage {
  float:left;
  width:282px;
  padding-left: 60px;
  padding-top: 34px;
  padding-right: 58px;
  padding-bottom: 12px;
  line-height: 21px;
  min-height: 210px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}
.text-advantage h3{
  margin-bottom: 23px;
}
.number-one{
  margin-bottom: 21px;
}
.advantage-one img {
  float:right;
  width:800px;
  height: 256px;/*??*/
}
.feel{
  padding-top: 50px;
  padding-left: 72px;
  padding-right: 49px;;
  padding-bottom: 81px;
}
.feel h3{
  margin-bottom: 23px;/*&& 30px*/
}
.feel p{
  line-height: 21px;
  text-align: center;
  margin-bottom: 0;
}
.one {
  float:left;
  padding-top: 10px;
  width:258px;
  padding-right: 67px;
  /*min-height: 190px;*/
}
.one h3{
  padding-left: 95px;
}
.one img{
  margin-left: 89px;
  margin-bottom: 3px;/*21px?*/
  width: 75px;
  height: 72px;
}
.two{
  float:left;
  width: 397px;
  padding-top: 10px;
  padding-left: 4px;
  text-align: center;
}
.two img{
  width:74px;
  height: 70px;
}
.two h3{
  margin-top: 25px;
  margin-bottom: 24px;
}
.three {
  float:right;
  width: 300px;
  padding-top: 7px;
  padding-left: 27px;
  text-align: center;
}
.three img{
  width: 64px;
  height: 76px;
}
.three h3{
  margin-top: 23px;
}
.second-advantage img {
  float: left;
  width: 800px;
  height: 256px;
}
.bridge {
  width: 305;
  float: right;
  padding-top: 33px;
  padding-left: 48px;
  padding-right: 46px;
  padding-bottom: 13px;
  min-height: 210px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  min-height: 210px;
}
.bridge h3{
  margin-bottom: 25px;
}
.bridge p{
  margin-bottom: 21px;
}
.other-advantages {
  padding-top: 25px;
  padding-left: 72px;
  padding-right: 60px;
  padding-bottom: 15px;
  min-height: 215px;
  line-height: 21px;
  background-color: #eeeeee;
}
.other:first-child {
  width: 240px;
  float: left;
  text-align: center;
  padding-right: 80px;
  padding-left: 7px;
  font-weight: normal;

}
.other:nth-child(2){
  float:left;
  width:400px;
  text-align:center;
  font-weight: normal;
}
.other:last-child {
  float:right;
  width:280px;
  text-align: center;
  font-weight: normal;
}
.other h3{
  margin-bottom: 25px;
}
.other p{
  margin-bottom: 21px;
}
.hotels {
  text-align: center;
  padding-top: 26px;/*маргин 24.9, что это */
}
.interesting{
  font-size: 30px;
  margin-bottom: 24px;
}
.hotels p{
  line-height: 24px;
  margin-bottom: 48px;
}
.find{/*маргин 19.2 ??*/
  position: relative;
  margin: 0 auto;
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #766357;
  color: #ffffff;
}

.find h2{
    font-size: 21px;
    margin:0;
}
.map {
  z-index: 1;
}
.map img{
  height: 595px;
  width: 1200px;
  z-index: 1;
}
.filters {
  min-height: 203px;
  padding-top: 14px;
  padding-left: 6%;
  padding-right: 6%;
  margin-bottom: 0;
  background-color: cyan;
  background-image: url(../img/filter.jpg) ;
  background-repeat: no-repeat;
  background-position: 0 -55px;
  color: #ffffff;
}
.filters h3{/*margin top bot 16px наследует размер текста*/
  font-size: 16px;
}
.filters input[type="checkbox"]{
  display:none;
}
.filters input[type="checkbox"] + label {
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 43px;
  position: relative;
  cursor: pointer;
  margin-bottom: 25px;
}
.infrastructure input[type="checkbox"] + label {
  padding-left: 40px;
}
.filters input[type="checkbox"] + label::before{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  background-position: -40px -111px;
  position: absolute;
  top: 0;
  left: 0;
}
.filters input[type="checkbox"]:checked + label::after{/*after не работает*/
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  background-image:url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -113px -10px;
  border:0;
}
.infrastructure {
  float: left;
  width: 240px;
  text-align: left
}
.house-type{
  float: left;
  width:278px;
  padding-left: 13px;
}
.infrastructure h3, .house-type h3{
  padding-bottom: 9px;
}
.filter-range{
  float: right;
  width:330px;
  margin-top: 14px;
}
.filter-range-title{
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.price-controls{
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}
.price-controls label{
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price{
  width: 90px;
  padding-left: 65px;
}
.price-controls input{
  width: 50px;
  margin:0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}
.range-controls{
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale{
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar{
  width: 80%;
  height: 2px;
  background:  #ffffff;
}
.range-toggle{
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.min-range-toggle{
  left: 0;
}
.max-range-toggle{
  left: 80%;
}
.range-toggle:hover {
  background: #1c4f80;
}
.btn-transparent{
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color:#ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor:pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
.sort{
  position: relative;
  min-height: 55px;
  width: 1056px;
  padding-left: 72px;
  padding-right: 72px;
  padding-top:10px;
  padding-bottom: 10px;
}
.sort h3 {
  display: inline-block;
  margin-right: 44px;
}
.sort span{
  display: inline-block;
  font-size: 12px;
  margin-right: 36px;
}
.sort a {
  display: inline-block;
  font-size: 12px;
  margin-right: 26px;
  text-decoration: none;
}
.sort i{
  display: inline-block;
  float:right;
  position: relative;
}
.sort i::before{
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -41px -10px;
  width: 11px;
  height: 10px;
  top: 30px;
  right: 24px;
}
.sort i::after{
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -10px;
  width: 11px;
  height: 10px;
  right: 2px;
  top: 30px;
}
.found{
  position:relative;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 72px;
  padding-right: 72px;
  min-height: 90px;
  border-top: 1px solid #e5e5e5;
}
.found:last-child{
  border-bottom: 1px solid #e5e5e5;
}
.found img {
  height: 90px;
  width: 135px;
  float: left;
  margin-right: 30px;
}
.about-house{
  float: left;
  margin-top: -2px;
}
.about-house h3{
  margin-top: -3px;
  margin-bottom: 0;
}
.hotel-type  {
  display: inline-block;
  width: 109px;
  margin-top: 11px;
  margin-bottom: 22px;
  margin-right: 4px;
}
.about-house a{
  text-decoration: none;
  margin-top: -10px;
}
.more{
  display: inline-block;
  padding-top: 5px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 5px;
  margin-right: 5px;/*сделать маргин, тут не работает с а*/
  font-weight: 600;
  background: #81b3d2;
  color:#ffffff;
}
.booking{
  display: inline-block;
  padding-top: 5px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 5px;
  font-weight: 600;
  background: #766357;
  color: #ffffff;
}
.stars{
  float:right;
  left: 1px;
  background-image:url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 89px;
  height: 17px;
  background-position: -159px -10px;
}
.two-stars{
  width: 42px;
}
.three-stars{
  width:65px;
}
.rating{
  display: inline-block;
  position: absolute;
  right: 72px;
  bottom: 30px;
  padding: 5px 14px;
  background-color: #f2f2f2;
}
.index-footer {
  position: relative;
  z-index: 12312;
  width: 1200px;
  margin: 0 auto;
  background-color: #fefefe;
  margin-top: -124px;
  opacity: 0.9;
  min-height: 121px;
}
.main-footer .container{
  background-color: #ffffff;
  min-height: 120px;
  text-align: center;
}
.footer-sedona{
  float:left;
  width: 240px;
  margin:0;
  padding-top: 25px;
  padding-left:80px;
  padding-right: 87px;
  text-align: center;
}
.footer-social {
  float:left;
  width: 276px;
  padding-top: 35px;
  padding-left: 55px;
  text-align: center;
}
.social-btn{
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  font-size: 0;
  background-color: #81b3d2;
  position: relative;
  margin-right: 2px;
}
.social-btn::before{
  content: "";
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}
.social-btn-twit::before{
  width: 17px;
  height: 15px;
  background-position: -159px -47px;

}
.social-btn-fb::before{
  width: 10px;
  height: 19px;
  background-position: -10px -111px;
}
.social-btn-play::before{
  width: 20px;
  height: 16px;
  background-position: -82px -111px;
}
.footer-copyright{
  float:right;
  width: 225px;
  min-height: 40px;
  margin-right: 72px;
  padding-left: 15px;
  margin-top: 41px;
  padding-top: 9px;
  /*выровнять текст по центу*/
  position: relative;
  text-align: left;
  vertical-align: middle;
}
.footer-copyright a{
  text-decoration: none;
  color: #000000;
}
.footer-copyright a::before{
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -52px;
  width: 113px;
  height:39px;
  right: 30px;
  top: -1px;
}





.find-form{
  position: absolute;
  font-weight: 600;
  margin-top: 31px;
  padding-top: 55px;
  padding-left: 54px;
  padding-right: 53px;
  text-align: left;
  background-color: white;
  color:#000000;
}
.find-form a{
  display: inline-block;
  width: 459px;
  height: 58px;
  margin-top: 52px;
  margin-bottom: 55px;
  font-size: 21px;
  line-height: 58px;
  text-decoration: none;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
}
.text-form{
  vertical-align: middle;
  position: relative;
  margin-top: 10px;
}

 .date{
  position: relative;
  float:right;
  width: 300px;
  height: 37px;
  margin-bottom: 29px;
  padding-left: 10px;
  padding-right: 35px;
  border:0;
  background: #f2f2f2;
  text-transform: uppercase;
}
.people{
  width: 23px;
  height: 37px;
  border:0;
  background: #f2f2f2;
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
  font-size: 14px;
}
.adult {
  display: inline-block;
  width: 230px;
}
.adult input{
  float: right;
}
.childrens{
  height: 37px;
  display: inline-block;
  width: 180px;
  float: right;
  text-align: left;
}
.childrens input{
  float:right;
}
.childrens label,
.adult label,
.arr-block label{
  display: inline-block;
  margin-top: 10px;
}
.arr-block::before{
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -72px -10px;
  width: 21px;
  height: 22px;
  right: 65px;
  top: 62px;
}
.arr-block2::after{
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -72px -10px;
  width: 21px;
  height: 22px;
  right: 65px;
  top: 130px;
}
.adult::before{
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -196px -47px;
  width: 12px;
  height: 3px;
  top: 208px;
  right: 375px;
}
.adult::after{
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -228px -47px;
  width: 11px;
  height: 11px;
  top: 203px;
  right: 300px;
}
.childrens::before{
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -196px -47px;
  width: 12px;
  height: 3px;
  top: 208px;
  right: 142px;
}
.childrens::after{
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -228px -47px;
  width: 11px;
  height: 11px;
  top: 203px;
  right: 69px;
}
