body {
  font-size: 14px;
  font-style: "PTSans";
  font-weight: bold;
  color: #000000;
  line-height: : 100%;
  background-color: #f2f2f2;
}
h1 {
  font-size: 30px;
}
h2{
  font-size: 24px;
}
.clearfix::after {
  content: "";
  display:table;
  clear: both;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fefefe;
}
.main-navigation {
  min-height: 55px;
  margin-left: 43px;/* другой размер отступа */
  margin-right: 43px;
}
.main-navigation ul li{
  display: inline-block;
  vertical-align: center;
  min-height: 55px;
}
.main-navigation ul li:nth-child(1){
  text-align: left;
  width:240px;
  background-color: yellow;
}
.main-navigation ul li:nth-child(2){
  text-align: left;
  width:287px;
  background-color: cyan;
}
.main-navigation ul li:nth-child(3){
  text-align: right;
  width:287px;
  background-color: blue;
}
.main-navigation ul li:nth-child(4){
  text-align: right;
    width:240px;
  background-color: red;
}
.main-header img{/*решить как разместить*/
  position:absolute;
  top:0;
  margin-left:auto;
  margin-right: auto;
}
.sedona-image {
  min-height: 570px;
}
.introduction {
  margin: 0 auto;
  width: 575px;
  padding-bottom:55px;
}

.text-advantage {
  float:left;
  width:285px;
  padding-left: 58px;
  padding-top: 50px;
}
.advantage-one img {
  width:800px;
  float:right;
}
.feel{
  margin-right: 73px;
  margin-left: 73px;
  min-height: 330px;
}
.what {
  float:left;
  width: 327px;
  min-height: 200px;
  text-align: center;
  margin-top:50px;
  background-color: cyan;
}
.what:nth-child(2){
  float:left;
  width: 400px;
  background-color: pink;
}
.what:last-child {
  float:right;
  background-color: yellow;
}
.second-advantage img {
  float: left;
  width: 800px;
}
.bridge {
  width: 285px;
  float: right;
  padding-left: 50px;
}
.other-advantages {
  margin-left: 73px;
  margin-right: 73px;
  min-height: 255px;
}
.other {
  width: 327px;
  float: left;
  text-align: center;
}
.other:nth-child(2){
  width:400px;
}
.other:last-child {
  float:right;
}
.hotels {
  min-height:290px;
  text-align: center;
}
.map img{
  height: 595px;
  width: 1200px;
}
.filters {
  min-height: 217px;
  padding-top:30px;
}
.infrastructure {
  float: left;
  width: 241px;
  margin-left: 73px;
}
.house-type{
  float: left;
  width:286px;
}
.price-night{
  float: right;
  width:527px;
  margin-right: 73px;
}
.price-night h3{
  text-align: right;
}
.sort {
  min-height: 75px;
  width: 1200px;
  padding-left: 73px;
  padding-right: 73px;

}
.found{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 73px;
  padding-right: 73px;
  min-height: 150px;
  border-bottom: 1px solid grey;
}
.found img {
  height: 90px;
  width: 135px;
  float: left;
  margin-right: 30px;
}
.about-house{
  float: left;
}
.main-footer{
  min-height: 120px;
}
.index-footer {
    margin-top: -124px;
}
.footer-sedona{
  float:left;
  width: 240px;
  min-height: 120px;
  margin-left:73px;
  margin-right: 88px;
  background-color: grey;
}
.footer-social {
  float:left;
  width: 400px;
  background-color: cyan;
  min-height: 120px;
}
.footer-copyright{
  float:right;
  width: 241px;
  min-height: 120px;/* мин высоту везде задавать? Вариант*/
  margin-right: 73px;
  background:green;
}
.footer-copyright img{
  width: 113px;
  height:39px;
}
